@import '~antd/dist/antd.css';

html {
    overflow:  hidden;
}

body, html, #root, .wrapper {
    font-size: 14px;
    height: 100%;
}

.wrapper {
    // background: rgb(244, 248, 248);
    // background: black;

}